[submodule "engine"]
	path = engine
    url = git@github.com:webzkit/engine.git
    ignore = all
[submodule "dashboard"]
	path = dashboard
    url = git@github.com:webzkit/dashboard.git
    ignore = all
[submodule "content"]
	path = content
    url = git@github.com:webzkit/content.git
    ignore = all
[submodule "ecommerce"]
	path = ecommerce
    url = git@github.com:webzkit/ecommerce.git
    ignore = all
[submodule "multimedia"]
	path = multimedia
    url = git@github.com:webzkit/multimedia.git
    ignore = all
[submodule "avatar"]
	path = avatar
	url = git@github.com:webzkit/avatar.git
    ignore = all
[submodule "api_gateway"]
	path = api_gateway
	url = git@github.com:webzkit/api_gateway.git
    ignore = all
[submodule "orchestration"]
	path = orchestration
	url = git@github.com:webzkit/orchestration.git
    ignore = all
