[submodule "engine"]
	path = engine
    url = git@github.com:webzkit/engine.git
    ignore = all
[submodule "dashboard"]
	path = dashboard
    url = git@github.com:webzkit/dashboard.git
    ignore = all
