###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

# Choose storage path on your machine. For all storage systems
# Grant permissions to the directories so containers can access them
DATA_PATH_HOST=~/.data-docker/zkit/data

# Name of your application container in docker
#COMPOSE_PROJECT_NAME=zkit
COMPOSE_IGNORE_ORPHANS=true

### All Networks driver #################################
NETWORKS_DRIVER=bridge

# All volumes driver
VOLUMES_DRIVER=local

### NGINX ###############################################
### not yet
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443

BACKEND_CORS_ORIGINS=["http://localhost:5500", "http://localhost:5501"]

### docker build #######################################
PYTHON_VERSION=3.11-slim
INSTALL_FFMPEG=true
REDIS_VERSION=alpine

### REDIS ##############################################
REDIS_HOST=redis
REDIS_PASSWORD=secret
REDIS_PORT=6379

### POSTGRES ###########################################
POSTGRES_VERSION=alpine
POSTGRES_HOST=postgres
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

### PGADMIN ###########################################
# use this address http://ip6-localhost:5050
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin

### CLICKHOUSE ########################################
CLICKHOUSE_VERSION=25.5-alpine
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=your_password
CLICKHOUSE_POOL_SIZE=5
CLICKHOUSE_DB=network_management

### MONGODB ###########################################
MONGO_ROOT_USERNAME=devroot
MONGO_ROOT_PASSWORD=devroot
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_VERSION=7.0.12

### Consul Service ####################################
CONSUL_HOST=consul
CONSUL_PORT=8500
CONSUL_INTERVAL=60s
CONSUL_TIMEOUT=5s

APIGATEWAY_SERVICE_NAME=api_gateway
ENGINE_SERVICE_NAME=engine
AVATAR_SERVICE_NAME=avatar
MULTIMEDIA_SERVICE_NAME=multimedia
NETWORK_MANAGEMENT_SERVICE_NAME=network_management

### API Gateway #######################################
APIGATEWAY__APP_NAME=Api-Gateway
APIGATEWAY__APP_API_PREFIX=/api/v1
APIGATEWAY__APP_ENV=development

REDIS_CACHE_DB=0
REDIS_RATE_DB=0
DEFAULT_RATE_LIMIT_TIME=100  # 100 times
DEFAULT_RATE_LIMIT_PERIOD=3600 # 1 hours

### Obeservability ####################################
OTLP_GRPC_ENDPOINT=tempo:4317


### ENGINE SERVICE ####################################
ENGINE__APP_NAME=Engine
ENGINE__APP_API_PREFIX=/api/v1
ENGINE__APP_ENV=development
ENGINE__APP_DB=engines
ENGINE__FIRST_SUPERUSER_EMAIL=info@zkit.com
ENGINE__FIRST_SUPERUSER_USERNAME=info
ENGINE__FIRST_SUPERUSER_PASSWORD=123456
ENGINE__FIRST_SUPERUSER_FULLNAME=Zkit
ENGINE__ENABLE_EMAIL_VERIFICATION=False
ENGINE__ALLOW_REGISTRATION=False


### AVATAR SERVICE ####################################
AVATAR__APP_NAME=Avatar
AVATAR__APP_API_PREFIX=/api/v1
AVATAR__APP_ENV=development
AVATAR__APP_DB=avatars


### MULTIMEDIA SERVICE ################################
MULTIMEDIA__APP_NAME=MultiMedia
MULTIMEDIA__APP_API_PREFIX=/api/v1
MULTIMEDIA__APP_ENV=development
MULTIMEDIA__APP_PORT=8084
MULTIMEDIA__APP_DB=multimedias

# supported: local, google, s3
MULTIMEDIA__PREFERED_STORAGE=local
# save original file or nah True/False
MULTIMEDIA__SAVE_ORIGINAL=True
MULTIMEDIA__IMAGE_ORIGINAL_LOCAL_PATH=static/pictures/original/
MULTIMEDIA__IMAGE_THUMBNAIL_LOCAL_PATH=static/pictures/thumbnail/
MULTIMEDIA__IMAGE_THUMBNAIL=True
MULTIMEDIA__IMAGE_AllOWED_FILE_FORMAT=png,jpeg,jpg,webp
MULTIMEIDA__IMAGE_CONVERTING_PREFERED_FORMAT=png
# supported:pillow-simd,ffmpeg
# default:ffmpeg
MULTIMEDIA__IMAGE_OPTIMIZATION_USING=ffmpeg
MULTIMEDIA__IMAGE_THUMBNAIL_MAX_WIDTH=320
# Qrcode
MULTIMEDIA__QR_IMAGE_WITH_LOGO=True
MULTIMEDIA__QR_IMAGE_LOCAL_PATH=static/qr/
MULTIMEDIA__QR_IMAGE_LOGO_PATH=static/logo/logo.png

### NETWORK_MANAGEMENT SERVICE ####################################
NETWORK_MANAGEMENT__APP_NAME=Network_Management
NETWORK_MANAGEMENT__APP_API_PREFIX=/api/v1
NETWORK_MANAGEMENT__APP_ENV=development
NETWORK_MANAGEMENT__APP_DB=network_management


### CONTENT SERVICE ####################################
CONTENT_APP_NAME=Content
CONTENT_APP_DOMAIN=http://content-service.local
CONTENT_APP_API_PREFIX=/api/v1
CONTENT_APP_ENV=development
CONTENT_APP_PORT=8082
CONTENT_APP_DB=zkits

### ECOMMERCE SERVICE ####################################
ECOMMERCE_APP_NAME=Ecommerce
ECOMMERCE_APP_DOMAIN=http://ecommerce-service.local
ECOMMERCE_APP_API_PREFIX=/api/v1
ECOMMERCE_APP_ENV=development
ECOMMERCE_APP_PORT=8083
ECOMMERCE_APP_DB=ecommerces


### MULTIMEDIA SERVICE ####################################
MULTIMEDIA_APP_NAME=MultiMedia
MULTIMEDIA_APP_DOMAIN=http://multimedia-service.local
MULTIMEDIA_APP_API_PREFIX=/api/v1
MULTIMEDIA_APP_ENV=development
MULTIMEDIA_APP_PORT=8084
MULTIMEDIA_APP_DB=multimedias

# supported: local, google, s3
MULTIMEDIA_PREFERED_STORAGE=local
# save original file or nah True/False
MULTIMEDIA_SAVE_ORIGINAL=True
MULTIMEDIA_IMAGE_ORIGINAL_LOCAL_PATH=static/pictures/original/
MULTIMEDIA_IMAGE_THUMBNAIL_LOCAL_PATH=static/pictures/thumbnail/
MULTIMEDIA_IMAGE_THUMBNAIL=True
MULTIMEDIA_IMAGE_AllOWED_FILE_FORMAT=png,jpeg,jpg,webp
MULTIMEIDA_IMAGE_CONVERTING_PREFERED_FORMAT=png
# supported:pillow-simd,ffmpeg
# default:ffmpeg
MULTIMEDIA_IMAGE_OPTIMIZATION_USING=ffmpeg
MULTIMEDIA_IMAGE_THUMBNAIL_MAX_WIDTH=320
# Qrcode
MULTIMEDIA_QR_IMAGE_WITH_LOGO=True
MULTIMEDIA_QR_IMAGE_LOCAL_PATH=static/qr/
MULTIMEDIA_QR_IMAGE_LOGO_PATH=static/logo/logo.png
