###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=~/.data-docker/zkit/data

### All Networks driver #################################
NETWORKS_DRIVER=bridge

# All volumes driver
VOLUMES_DRIVER=local

### NGINX ###############################################
### not yet
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443

BACKEND_CORS_ORIGINS=["http://localhost:5500", "http://localhost:5501"]

### docker build #######################################
PYTHON_VERSION=3.11-slim
INSTALL_FFMPEG=True

### POSTGRES ##########################################
POSTGRES_VERSION=alpine
POSTGRES_HOST=postgres
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

### PGADMIN ###########################################
# use this address http://ip6-localhost:5050
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin

### MONGODB ###########################################
MONGO_ROOT_USERNAME=devroot
MONGO_ROOT_PASSWORD=devroot
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_VERSION=7.0.12

### Service Engine ######################################
APP_NAME=ZKit
APP_DOMAIN=http://zkit.local
APP_API_PREFIX=/api/v1
APP_ENV=development
APP_PORT=80
APP_DB=engines

### AVATAR SERVICE ####################################
AVATAR_APP_DOMAIN=http://avatar-zkit.local
AVATAR_APP_API_PREFIX=/api/v1
AVATAR_APP_NAME=Avatar-Zkit
AVATAR_APP_ENV=development
AVATAR_APP_PORT=81
AVATAR_APP_DB=avatars

### CONTENT SERVICE ####################################
CONTENT_APP_DOMAIN=http://content-zkit.local
CONTENT_APP_API_PREFIX=/api/v1
CONTENT_APP_NAME=Content-Zkit
CONTENT_APP_ENV=development
CONTENT_APP_PORT=83
CONTENT_APP_DB=zkits

### ECOMMERCE SERVICE ####################################
ECOMMERCE_APP_DOMAIN=http://ecommerce-zkit.local
ECOMMERCE_APP_API_PREFIX=/api/v1
ECOMMERCE_APP_NAME=Ecommerce-Zkit
ECOMMERCE_APP_ENV=development
ECOMMERCE_APP_PORT=82
ECOMMERCE_APP_DB=ecommerces

### MULTIMEDIA SERVICE ####################################
MULTIMEDIA_APP_DOMAIN=http://multimedia-zkit.local
MULTIMEDIA_APP_API_PREFIX=/api/v1
MULTIMEDIA_APP_NAME=MultiMedia-Zkit
MULTIMEDIA_APP_ENV=development
MULTIMEDIA_APP_PORT=84
MULTIMEDIA_APP_DB=multimedias
# supported: local, google, s3
MULTIMEDIA_PREFERED_STORAGE=local
# save original file or nah True/False
MULTIMEDIA_SAVE_ORIGINAL=True
MULTIMEDIA_IMAGE_ORIGINAL_LOCAL_PATH=static/pictures/original/
MULTIMEDIA_IMAGE_THUMBNAIL_LOCAL_PATH=static/pictures/thumbnail/
MULTIMEDIA_IMAGE_THUMBNAIL=True
MULTIMEDIA_IMAGE_AllOWED_FILE_FORMAT=png,jpeg,jpg,webp
MULTIMEIDA_IMAGE_CONVERTING_PREFERED_FORMAT=png
# supported:pillow-simd,ffmpeg
# default:ffmpeg
MULTIMEDIA_IMAGE_OPTIMIZATION_USING=ffmpeg
MULTIMEDIA_IMAGE_THUMBNAIL_MAX_WIDTH=320
# Qrcode
MULTIMEDIA_QR_IMAGE_WITH_LOGO=True
MULTIMEDIA_QR_IMAGE_LOCAL_PATH=static/qr/
MULTIMEDIA_QR_IMAGE_LOGO_PATH=static/logo/logo.png

